<div class="article-tweet">
  <i class="fab fa-twitter"></i>
  <a href="https://twitter.com/intent/tweet?text=<%=
    encodeURIComponent(page.title + " | " + config.title)
  %>&url=<%=
    encodeURIComponent(page.permalink)
  %>">Tweet</a>
</div>
